.main {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dummy {
    width: 98%;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50rem;
    margin-top: 2rem;
    color: #333;
    font-weight: bold;
}
