@import '../../styles/_breakpoint';
@import '../../styles/_mixin';

.main {
    display: grid;
    grid-auto-rows: 60px auto;
    margin: 2rem auto;
    min-height: calc(100dvh - 180px);
}

.heading {
    margin-left: 3rem;
}

.box {
    display: grid;
    row-gap: 3rem;

    @include mq(sm) {
        place-content: center;
        grid-template-columns: 150px 150px;
        column-gap: 3rem;
    }
}

.centering {
    display: grid;
    place-content: center;
    place-items: center;
    row-gap: 0.4rem;
}

.link {
    width: 150px;
    height: 150px;
    border-radius: 2rem;
}

.gmail {
    @extend .centering;
    @extend .link;
    background-color: #eee;

    &_address {
        color: #333;
        font-size: 1.2rem;
        font-weight: bold;
    }
    &:hover > img {
        transform: scale(1.1);
        transition: all 0.3s;
    }
}

.twitter {
    @extend .centering;
    @extend .link;
    background-color: #1d9bf0;

    &_id {
        color: #eee;
        font-size: 1.2rem;
        font-weight: bold;
    }
    &:hover > img {
        transform: scale(1.1);
        transition: all 0.3s;
    }
}
