.wrapper {
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    height: calc(100dvh - 70px - 2rem);
    color: #333;
    font-weight: bold;
}
