.showcase {
    display: grid;
    grid-template-rows: 5rem auto;
    color: #333;
    font-weight: bold;
    background: #fff;
    border-radius: clamp(6px, -8.4px + 3vw, 16px);

    box-shadow: inset clamp(1.6px, -3.2px + 1vw, 5px)
            clamp(1.6px, -3.2px + 1vw, 5px) clamp(3.2px, -8.6px + 2vw, 10px)
            rgba(0, 0, 0, 0.1),
        clamp(1.6px, -3.2px + 1vw, 5px) clamp(1.6px, -3.2px + 1vw, 5px)
            clamp(3.2px, -8.6px + 2vw, 10px) transparent;

    transition: box-shadow ease-in-out 0.3s;

    &:hover {
        box-shadow: inset clamp(1.6px, -3.2px + 1vw, 5px)
                clamp(1.6px, -3.2px + 1vw, 5px) clamp(3.2px, -8.6px + 2vw, 10px)
                transparent,
            clamp(1.6px, -3.2px + 1vw, 5px) clamp(1.6px, -3.2px + 1vw, 5px)
                clamp(3.2px, -8.6px + 2vw, 10px) rgba(0, 0, 0, 0.1);
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    line-height: 5rem;
    border-bottom: 1px #bbb solid;
}

.title {
    margin-left: 2rem;
}

.content {
    display: grid;
    place-content: center;
}

.github {
    height: 40px;
    width: 40px;
    display: grid;
    place-content: center;
    border-radius: 10px;
    background-color: #eee;
    margin-right: 1rem;
}
